* {
  margin:0;
  padding: 0;
  box-sizing:  border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.main-wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 1fr;
}
  
  header {
    background-color: #91afc4;
    padding: 10px;
    text-align: center;
  }
  
  h1 {
    font-family: 'Helvetica';
    font-size: 52px;
    color: #26475e;
    margin: 10px 0;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  

  


.all-members {
  background: #6da4cc;
}
 
.members > li {
  padding: .7em .5em .5em .5em;
  height: 50px;
  cursor: pointer;
}
.members > li:hover {
  background: #427faa;
  transition: 0.5s all ease;
}
  .member-details h2 {
    font-size: 32px;
    text-align: center;
  }
  
  .member-details h3 {
    font-size: 24px;
  }
  


  .member-details img {
    display: block;
    height: 200px;
    margin: 0 auto 25px auto;
  }
  
  .anecdote-form {
    width: 450px;
    margin: 0 auto 50px auto;
  }
  
  textarea {
    display: block;
    width: 100%;
    height: 100px;
    border: 1px solid gray;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .description button, input[type="submit"] {
    border: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #98d2cc;
    color: #fff;
    padding: 7px 10px;
    cursor: pointer;
  }
  
  .anecdotes li {
    background-color: #caf1f1;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  
}
#sidebar > button {
  margin-left: auto;
  margin-right: auto;
  margin: .5em;
}
#sidebar.active {
  margin-left: -250px;
}
#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}


#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

/* 
  user information
*/
.user-information {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40% 60%;
  height: 100%;
  width: 100%;
}
.card-header-center {
  padding: 2em;
  text-align: right;
}
 .card-body {
   grid-row: 1/2;
   grid-column: 3/4;
 }
.anecdotes-container {
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.card-img-top {
  max-width: 300px;
  grid-row: 1/2;
  grid-column:  1/2;
}

.anecdote-li {
  position: relative;
}
.anecdote-delete-button {
  position: absolute;
  top: -10;
  right: -5;
  outline: none !important;
  border: none;
  height: 20px;
  width: 20px;
  font-size: 9px;
  color: #fff;
  background: #26475e;
  padding: .5em;
  border-radius: 50px;
}